@using System.Globalization
@model List<QRCodeInASPNetCore.Models.UserInfoModel>


@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-2">
            <h1>Patient List</h1>
            <h3>@DateTime.UtcNow.AddHours(5.5).Date.ToString("dd-MMM-yyyy", CultureInfo.InvariantCulture)</h3>
        </div>
        <div class="col-md-6 mt-4">
            <label>Select Date:</label>
            <input type="date" id="datePicker" class="form-control" />
        </div>
        <div class="col-md-6 text-right mt-4">
            <button class="btn btn-dark" value="Refresh" id="refreshButton">Get Patient List</button>
        </div>
    </div>
    <hr />
    <div id="patientList">
        @Html.Partial("_PatientList", Model)
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#refreshButton').click(function () {
                var selectedDate = $('#datePicker').val();
                $.ajax({
                    url: '@Url.Action("RefreshPatientList", "TokenGen")',
                    type: 'GET',
                    data: { date: selectedDate },
                    success: function (data) {
                        $('#patientList').html(data);
                    },
                    error: function () {
                        alert('Error loading patient list');
                    }
                });
            });
        });
    </script>
}
